integrations:
  - name: com.newrelic.winservices
    exec:
      - C:\Program Files\New Relic\newrelic-infra\newrelic-integrations\bin\nri-winservices.exe
      # exporter_bind_address and exporter_bind_port must be configured before running this integration
      # The IP address and port used by the Prometheus Exporter to bind the web server.
      # - --exporter_bind_address
      # - 127.0.0.1
      # - --exporter_bind_port
      # - 9182

      # List of filters that will be applied to the service name in order to filter which services
      # will be collected. By default no service is collected.
      # The prefix "!" excludes the pattern.
      # The prefix "regex" indicates that the pattern contains a regex expression otherwise literal strings are used.
      # The list follows the same order of precedence of gitignore files, from highest to lowest
      # (within one level of precedence, the last matching pattern decides the outcome).
      # windowsService.name is currently the only supported attribute to filter 
      # - --filter_list
      # - |
      #   windowsService.name:
      #   regex ".*"
      #   "IncludeImportantService"
      #   ! "ExcludeIrrelevantService"
      
      # Time between consecutive metric collection of the integration.
      # It must be a number followed by a time unit (s, m or h), without spaces.
      - --scrape_interval
      - 30s
      
    # This time out is used by the NR Agent to restart the integration if no hearbeats are sent from
    # the integration. Hearbeats are sent every 5s so this timeout shouldn't configured less than that
    timeout: 10s

    # Interval period to collect and send data should be configured under scrape_interval parameter
    # interval: <use scrape_interval param>