integrations:
  - name: com.newrelic.winservices
    exec:
      - C:\Program Files\New Relic\newrelic-infra\newrelic-integrations\nri-winservices.exe
    config:
      # IP address and port used by the Prometheus exporter to bind the server.
      # 
      # exporter_bind_address: 127.0.0.1
      # exporter_bind_port: 9182

      # To include services, create a list of filters to be applied to the service names.
      # Services that find a match with any of the matching lists are included. By default,
      # no service is included.
      #
      # Currently, only windowsService.name metadata is supported for filtering.
      # Prepend "regex" to indicate that the pattern is a regular expression.
      #
      include_matching_entities:
        windowsService.name:
          # - regex ".*"
          # - "newrelic-infra"

      # Time between consecutive metric collection of the integration.
      # It must be a number followed by a time unit (s, m or h), without spaces.
      #
      scrape_interval: 30s

    # Timeout used by the agent to restart the integration if no heartbeats are
    # sent from the integration. Heartbeats are sent every 5s, so this timeout
    # shouldn't be less than that.
    #
    timeout: 60s

    # Since this is a long-running integration, interval is ignored. To
    # configure the interval period for collecting and sending data, edit
    # the scrape_interval parameter.
    #
    # interval:
